.div1 , .div2 , .div3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    width: 30px;
    background-color: #ccc;
    height: 4px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;
}

.menuicon:hover {
    cursor: pointer;    
    .div1 , .div2 , .div3 {
        background-color: black;
    }
}

#logo {
    height: 85px;
    margin-left: -30px;
}

.wiki , .wikilow{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

nav .figure a:hover {
    text-decoration: none;
}




